<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>HERITAGE!</title>
    </head>
    <body>

    <h2>Vamsi Library Application</h2>
    <div id="id01" class="modal">
      <form class="modal-content animate" action="/about">
        <div class="container">
          <label><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required>

          <label><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>

          <button type="submit">Login</button>
          <input type="checkbox" checked="checked"> Remember me
        </div>
        <br>
        <br>
        <div class="container" style="background-color:#f1f1f1">
          <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
          <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
      </form>
    </div>
    </body>
</html>
